extends layout

block append head
  link(rel='stylesheet', href='/stylesheets/chat.css')
  script(src='/javascripts/chat.js')
  script(src="/socket.io/socket.io.js")
  script(src="javascripts/CommandReader.js") 

block contents
  h1 hello world!
  h2 Nickname = #{nickname}
  h3 Channel = #{channel}
  input(type="text", id='chattingMessage', onkeypress='enterKeyEvent(event)')
  script.
    var socket = io.connect('http://hann.iptime.org');
    function enterKeyEvent(event){
        if (event.keyCode == 13){
        console.log('hi');
        $('body').append('hi');
      }

    }

    socket.on('news', function(data){
    console.log(data);
    socket.emit('my other event', {my:'data'});
    });