extends layout

block append head
  link(rel='stylesheet', href='/stylesheets/chat.css')
  script
    var nickname = '#{nickname}';
    var channel = '#{channel}';
  script(src="/socket.io/socket.io.js")
  script(src="javascripts/CommandReader.js") 
  script(src='/javascripts/chat.js')

block contents
  div.tabbable
    ul.nav.nav-tabs
      li.active
        a(href="#freenode", data-toggle='tab') freenode
      li
        a(href="#channel", data-toggle='tab') channel
      li
        a(href="#test", data-toggle='tab') test
    div.tab-content
      div.tab-pane.active#freenode
        p I'm in Section1
      div.tab-pane#channel
        p I'm in Section2
      div.tab-pane#test
        p I'm in Section3
  h1 hello world!
  h2 Nickname = #{nickname}
  h3 Channel = #{channel}
  div.raw-fluid
    div.span8
      input(type="text", id='chattingMessage', onkeypress='enterKeyEvent(event)')
    div(class="span4",bgcolor="#222222") test

    

