extends layout

block append head
  link(rel='stylesheet', href='/stylesheets/chat.css')
  script
    var nickname = '#{nickname}';
    var channel = '#{channel}';
  script(src="/socket.io/socket.io.js")
  script(src="javascripts/CommandReader.js") 
  script(src='/javascripts/chat.js')

block contents
  h1 hello world!
  h2 Nickname = #{nickname}
  h3 Channel = #{channel}
  input(type="text", id='chattingMessage', onkeypress='enterKeyEvent(event)')
    



