extends layout

block append head
  link(rel='stylesheet', href='/stylesheets/chat.css')
  script
    var nickname = '#{nickname}';
    var channel = '#{channel}';
  script(src="/socket.io/socket.io.js")
  script(src="javascripts/CommandReader.js") 
  script(src="javascripts/irc_packet.js")
  script(src='/javascripts/chat.js')

block contents
  div.tabbable#container
    ul.nav.nav-tabs
      li.active
        a(href="#freenode", data-toggle='tab') freenode
    div.tab-content
      div.tab-pane.active#freenode
        div#contents
          div#chat-box
            div#topic
              h1 This Is Topic
            div#chat-container
              div#time
              div#log
          div#user
            ul.nav.nav-tabs.nav-stacked
              li
                a(href="#") #{nickname}
              li
                a(href="#") nicknames
    footer
      label#nickname(for="message") #{nickname}
      input#message(type="text", onkeypress='enterKeyEvent(event)')