!!! 5
html	
  section#wrap.container
    header
      h1 WebIRC
    div#container
      form(id='form', method='post', action='/chat')
        label Nickname (required)
          input(type="text", name='nickname', placeholder="Type your nickname", style="width:100%")
        label Channel Name (required)
          input(type="text", name='channelName', placeholder="Type the channel that you want to connect", style="width:100%")
        label Channel Password (optional)
          input(type="password", name='channelPassword', placeholder="Type the channel password if it needs", style="width:100%")
        button.btn.btn-info.
           <i class="icon-share-alt"></i>
           Submit
        select(name="drop1", id="Select1", size="4")
           option(value='1') item1
           option(value='2') item2
    footer 
      h5 만든이는 @hannJS와 @hyeon0135입니다만 오픈합니다 :) 마음것 쓰세요 :D			