!!! 5
html	
  section#wrap.container
    header
      h1 WebIRC
    div#container
      label text1
        input(type="text", style="width:100%")
      label text2
        input(type="text", style="width:100%")
      label text3
        input(type="text", style="width:100%")
    footer
      button.btn.btn-info.
         <i class="icon-share-alt"></i>
         Submit
