!!! 5
html	
  section#wrap.container
    header
      h1 WebIRC
    div#container
      form(id='form', method='post', action='/join')
        label Nickname
          input(type="text", name='nickname', style="width:100%")
        label channel
          input(type="text", name='channel', style="width:100%")
        label text3
          input(type="text", name='text3',style="width:100%")
        button.btn.btn-info.
           <i class="icon-share-alt"></i>
           Submit
    footer 
      h5 만든이는 @hannJS와 @hyeon0135입니다만 오픈합니다 :) 마음것 쓰세요 :D			