!!! 5
html
  script(src="/socket.io/socket.io.js")
  h1 hello world!
  h2 Nickname = #{nickname}
  h3 Channel = #{channel}
  script.
    var socket = io.connect('http://hann.iptime.org');
    socket.on('news', function(data){
    console.log(data);
    socket.emit('my other event', {my:'data'});
    });
