!!! 5
html(lang='ko')
  head
    meta(charset='UTF-8')
    block head
      title= title
      link(rel='stylesheet', href='/stylesheets/common.css')
      link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
      
      //- common scripts
      script(type='text/javascript', src='/javascripts/jquery-1.7.2.min.js')
      script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')

      //-
        script.
          jQuery.noConflict();
          (function ($)
          {
            // safe area
          })(jQuery);
  body
    block contents
  