#chat-box{
    float : left;
    padding-bottom : 30px;
}

#time {
    float : left;
}
#log {
    float : right;
}
#user {
    float : right;
}

footer{
    clear : both;
    position : fixed;
    bottom : 0;
    margin-top : -23px;
}

#nickname{
    float : left;
}

#message{
    margin-left : 10px;
    float : right;
}

