.float-left {
    float : left;
}
.float-right {
    float : right;
}

#chat-container {
}
footer{
    clear : both;
    position : fixed;
    margin-top : -23px;
}
#nickname{
}
#message{
    margin-left : 10px;
}

