.float-left{
    float : left;
}
.float-right{
    float : right;
}
body {
    margin : 0 10px 0 10px;
}

#chat-container {
    overflow-y : auto  ;
    background-color : whiteSmoke;
    border-radius : 5px;
    border : 1px solid rgba(0, 0, 0, 0.05);

}
#time {
    display : inline-block;
    margin-right : 10px;
}
#log {

}
footer{
    clear : both;
    margin-top : 10px;
}

#nickname{
    display : inline-block;
    margin-right : 10px;
}
#message{
    width : 90%;
}

