#chat-box{
    float : left;
}

#chat-container {
    overflow-y : auto  ;
}
#time {
    float : left;
}
#log {
    float : right;
}
#user {
    float : right;
}

footer{
    clear : both;
}

#nickname{
    float : left;
}
#message{
    float : right;
}

