@charset "UTF-8";

body
{
	font-family: Tahoma, "맑은 고딕", "Malgun Gothic", 돋움, Dotum, AppleGothic, sans-serif;
	word-wrap: break-word;
}

a
{
	color: #000;
	text-decoration: none;
}

a:hover
{
	color: #4A4A4A;
}

.assistive-element
{
	display: none !important;
	width: 0px !important;
	height: 0px !important;
	margin: 0px !important;
	padding: 0px !important;
	border: 0px !important;
	content: "" !important;
}