body
{
	padding-top: 40px;
	font-size: 24px;
	line-height: 1.25em;
}

header
{
	text-align: center;
}

header h1
{
	font-size: 2em;
	line-height: 2em;
}

#connect label, #connect input
{
	font-size: 1em;
	line-height: 1.4em;
}

#connect .control-group
{
	margin-bottom: 0px;
}

#connect .control-group .controls .help-block
{
	display: none;
}

#connect input
{
	height: 1.05em;
}

#connect button
{
	width: 100%;
}

footer h1
{
	font-size: 0.5em;
	line-height: 0.75em;
	font-weight: normal;
}