@charset "UTF-8";

body
{
	font-size: 14px;
	line-height: 1.25em;
}

#wrapper
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 350px;
	margin-left: -250px;
	margin-top: -225px;
}

header
{
	text-align: center;
}

header h1
{
	font-size: 3.5em;
	line-height: 2em;
}

#connect label, #connect input
{
	font-size: 1em;
	line-height: 1.4em;
}

#connect label
{
/*	font-weight: bold;*/
	margin: 0;
	margin-bottom: 2px;
}

#connect input
{
	width: 100%;
	margin: 0;
	margin-bottom: 2px;
}

#button-container
{
	text-align: right;
}

#submit
{
	width: 100px;
	margin-right: -9px; /* because of ipnut[type=text]'s padding */
}

footer
{
	margin-top: 15px;
	text-align: center;
	font-size: 0.9em;
}